# Stack identity
STACK_NAME=ets_dev
ENV_FILE=./env/dev/.env

# Images
FRAPPE_IMAGE=frappe/erpnext:v15.0.0

# Database
DB_ROOT_PASSWORD=change_me_root
DB_NAME=erpnext
DB_USER=erpnext
DB_PASSWORD=change_me_db

# Networking
WEB_PORT=8081
SITE_HOSTNAME=erp-dev.local
